.carousel-container {
    color: white;
    text-align: center;
    margin-top: 3rem;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
  
  .carousel-container>h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .carousel-container>h3 {
    font-weight: 400;
    font-size: 2rem;
    font-style: normal;
  }
  
  .carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    animation: carousel-animation 20s linear infinite
  }
  
  .carousel:hover {
    animation-play-state: paused;
  }
  
  .carousel-card {
    padding: 1rem;
    width: 25%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-inline: 1rem;
    background-color: white;
    border-radius: 1.55rem;
    color: black;
    transition: 500ms;
  }
  
  .carousel-card>img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: .75rem .75rem 0 0;
  }
  
  .sender-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .sender-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
  }
  
  .sender-profile>img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border-radius: 0 0 50% 50%;
  }
  
  .sender-biodata {
    text-align: left;
  
  }
  
  .sender-biodata>h4 {
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .sender-biodata>p {
    font-weight: 300;
    font-size: .8rem;
    color: grey;
  }
  
  .post-time {
    text-align: right;
  }
  
  .post-time>p {
    font-weight: 300;
    font-size: .8rem;
    color: grey;
  }
  
  .post-time>h5 {
    font-weight: 400;
    font-size: .8rem;
  }
  
  .carousel-summary {
    margin-top: 1rem;
    font-size: .8rem;
    color: grey;
    text-align: justify;
  }
  
  .carousel > .passive {
    /* opacity: .5;
    scale: 0.8 0.9; */
  }
  
  .carousel:hover >  .carousel-card:not(:hover) {
    /* scale: 1.1; */
    opacity: 0.3;
  }
  
  
  @keyframes carousel-animation {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-143%); /* Move the carousel to the left */
    }
  }